In [5]:
import pandas as pd

from sklearn.preprocessing import MinMaxScaler


 

scaler = MinMaxScaler()

dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],

                           'B':[103.02,107.26,110.35,114.23,114.68],

                           'C':['big','small','big','small','small']})

dfTest[['A', 'B']] = scaler.fit_transform(dfTest[['A', 'B']])

dfTest

          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.363636  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small

In [7]:
import pandas as pd

from sklearn.preprocessing import MinMaxScaler


 

scaler = MinMaxScaler()

dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],

                           'B':[103.02,107.26,110.35,114.23,114.68],

                           'C':['big','small','big','small','small']})

dfTest[['A', 'B']] = scaler.fit_transform(dfTest[['A', 'B']])

print(dfTest.head())

          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.363636  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small

In [13]:
import pandas as pd

from sklearn.preprocessing import MinMaxScaler


 

scaler = MinMaxScaler()

dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],

                           'B':[103.02,107.26,110.35,114.23,114.68]})

dfTest = scaler.fit_transform(dfTest)

print(dfTest)
print(type(dfTest))
print(dfTest.size)
print(dfTest.shape)

[[0.         0.        ]
 [0.92621855 0.36363636]
 [0.93533487 0.62864494]
 [1.         0.96140652]
 [0.9384952  1.        ]]
<class 'numpy.ndarray'>
10
(5, 2)

In [16]:
import pandas as pd

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],

                           'B':[103.02,107.26,110.35,114.23,114.68]})

dfTest[['A', 'B']] = scaler.fit_transform(dfTest[['A', 'B']])


print(type(dfTest))
print(dfTest.size)
print(dfTest.shape)
dfTest

<class 'pandas.core.frame.DataFrame'>
10
(5, 2)

          A         B
0  0.000000  0.000000
1  0.926219  0.363636
2  0.935335  0.628645
3  1.000000  0.961407
4  0.938495  1.000000